# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Mac / Windows
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Build
build/
dist/
*.egg-info/